body {
  background-color: #131214;
  color: #eae6f2;
  font-family: "Nunito Sans", sans-serif;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .container {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
  padding: 16px;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
  transition: transform 0.8s ease-in-out;
}

.logo:hover img {
  transform: rotate(180deg) scale(1.2);
}

header .container {
  display: flex;
  justify-content: space-between;
}

.search-view {
  background-color: #1d1c1f;
  height: 56px;
  width: 500px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  cursor: text;
  transition: background-color 0.7s ease;
}

.search-view:hover {
  background-color: #00aaff;
}

header button {
  display: none;
}

.search-bar {
  display: flex;
  align-items: center;
}

.icon {
  padding: 5px 0px 0px 15px;
}

.icon .iconify {
  color: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.input {
  flex: 1;
}

.input input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  outline: none;
  width: 370px;
}

.my-location-button {
  background-color: #61aaec;
  color: #131214;
  padding: 1em;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.my-location-button:hover {
  color: white;
  background-color: #cb2128;
}

.my-location-button .iconify {
  font-size: 40px;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: slideIn 0.5s ease-in-out forwards;
  margin-top: 20px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.avatars-section {
  text-align: center;
  opacity: 0;
  animation: scaleIn 0.5s ease-in-out forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.avatars-section h1 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: Ubuntu-Medium;
}

.avatars-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.avatar {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.avatar img {
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.avatar video {
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.avatar h2 {
  font-size: 18px;
  font-weight: bold;
}

/*-----------------------------------*\
  #PERSONAL CARD
\*-----------------------------------*/
.personal-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 998;
}

.personal-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 500px;
  padding: 40px;
  background-color: #366d9d;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  animation: scaleFadeIn 0.5s forwards;
}

@keyframes scaleFadeIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.personal-card h2 {
  font-size: 35px;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 30px;
  font-family: Ubuntu-Bold;
}

.personal-card p {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: Ubuntu-Regular;
}

.personal-card svg {
  margin-right: 20px;
  font-size: 25px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #131214;
  cursor: pointer;
}

.hide-personal-card {
  animation: scaleFadeOut 0.5s forwards;
}

@keyframes scaleFadeOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    display: none;
  }
}

@media only screen and (min-width: 100px) and (max-width: 992px) {
  .search-view {
    width: 420px;
    margin-bottom: 70px;
    background-color: #fff;
  }

  .icon .iconify {
    color: rgb(0, 0, 0);
  }

  .avatars-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .avatars-section {
    padding-left: 100px;
  }

  .avatar h3 {
    padding-left: 5px;
  }

  .hamburg {
    display: block;
    position: absolute;
    top: 3em;
    right: -4em;
  }

  .hourly-forecast .container {
    width: 100%;
    margin-left: 15rem;
  }

  .hamburg .iconify {
    font-size: 50px;
  }

  .header .container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .header .container .search-view {
    display: none;
  }

  .header .container .my-location-button {
    display: none;
  }

  #mobile-nav-inner {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    padding: 0px 0px 0px 22px;
  }

  #mobile-nav-content .my-location-button {
    background-color: #61aaec;
    color: #131214;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    height: auto;
  }

  #mobile-nav-content {
    display: none;
  }

  .header .container {
    max-width: 768px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .header .container .search-view {
    display: none;
  }

  .header .container .my-location-button {
    display: none;
  }

  /*--------------------------------------------------*/
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }

  .navbar {
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar img {
    width: 20%;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .menu-items {
    display: flex;
    transform: translateX(-100%);
    background-color: #366d9d;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.875em;
    padding: 0.7rem;
    font-family: Verdana, sans-serif;
  }

  .navbar .nav-container a:hover {
    font-weight: bolder;
  }

  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 120px;
    height: 150vh;
    width: 52vh;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .logo {
    display: none;
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}
