body {
  background-color: #131214;
  color: #eae6f2;
  font-family: "Nunito Sans", sans-serif;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
#screen-navbar {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
  padding: 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 100px;
  height: auto;
  transition: transform 0.8s ease-in-out;
}

.logo:hover img {
  transform: rotate(180deg) scale(1.2);
}

.search-view {
  background-color: #1d1c1f;
  height: 56px;
  width: 500px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  cursor: text;
  transition: background-color 0.7s ease;
}

.search-view:hover {
  background-color: #00aaff;
}

header button {
  display: none;
}

.search-bar {
  display: flex;
  align-items: center;
}

.icon {
  padding: 5px 0px 0px 15px;
}

.icon .iconify {
  color: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.input {
  flex: 1;
}

.input input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  outline: none;
  width: 370px;
}

.my-location-button {
  background-color: #61aaec;
  color: #131214;
  padding: 1em;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.my-location-button:hover {
  color: white;
  background-color: #cb2128;
}

.my-location-button .iconify {
  font-size: 40px;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: slideIn 0.5s ease-in-out forwards;
  margin-top: 20px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.avatars-section {
  width: 60%;
  text-align: center;
  opacity: 0;
  animation: scaleIn 0.5s ease-in-out forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.avatars-section h1 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: Ubuntu-Medium;
}

.avatars-container {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 10px;
}

.avatar {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.avatar img {
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.avatar video {
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.avatar h2 {
  font-size: 18px;
  font-weight: bold;
}

/*-----------------------------------*\
  #PERSONAL CARD
\*-----------------------------------*/
.personal-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 998;
}

.personal-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 500px;
  padding: 40px;
  background-color: #366d9d;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  animation: scaleFadeIn 0.5s forwards;
}

@keyframes scaleFadeIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.personal-card h2 {
  font-size: 35px;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 30px;
  font-family: Ubuntu-Bold;
}

.personal-card p {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: Ubuntu-Regular;
}

.personal-card svg {
  margin-right: 20px;
  font-size: 25px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #131214;
  cursor: pointer;
}

.hide-personal-card {
  animation: scaleFadeOut 0.5s forwards;
}

@keyframes scaleFadeOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

@media only screen and (min-width: 992px) {
  #mobile-navbar {
    display: none;
  }
}

@media only screen and (min-width: 100px) and (max-width: 992px) {
  #screen-navbar {
    display: none;
  }

  /* main {
    display: none;
  } */

  .search-view {
    width: 310px;
    height: 40px;
  } 

  .input input {
    width: 240px;
  }

  #mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    width: 97%;
    padding: 10px 20px;
  }

  .nav-icon {
    position: relative;
    height: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 1001;
  }

  .nav-icon div {
    width: 2.5rem;
    height: 0.3rem;
    background: #eae6f2;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #366d9d;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .nav-icon.open div:nth-child(1) {
    transform: rotate(45deg);
  }

  .nav-icon.open div:nth-child(2) {
    opacity: 0;
  }

  .nav-icon.open div:nth-child(3) {
    transform: rotate(-45deg);
  }
}
