body {
    background-color: #131214;
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #00aaff;
}

#screen-navbar {
    width: 100vm;
    margin-inline: auto;
    padding: 16px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.logo img {
    width: 100px;
    height: auto;
    transition: transform 0.8s ease-in-out;
}

.logo:hover img {
    transform: rotate(180deg) scale(1.2);
}

.search-view {
    background-color: #1d1c1f;
    height: 56px;
    width: 500px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    cursor: text;
    transition: background-color 0.7s ease;
}

.search-view:hover {
    background-color: #00aaff;
}

header button {
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
}

.icon {
    padding: 5px 0px 0px 15px;
}

.icon .iconify {
    color: #fff;
    padding: 0 16px;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.input {
    flex: 1;
}

.input input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    outline: none;
    width: 90%;
}

.my-location-button {
    background-color: #61aaec;
    color: #131214;
    padding: 1em;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.my-location-button:hover {
    color: white;
    background-color: #cb2128;
}

.my-location-button .iconify {
    font-size: 40px;
}

/*-----------------------------------*\
    Mobile Navbar
\*-----------------------------------*/

#mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    width: 94vm;
    padding: 10px 20px;
}

.nav-icon {
    position: relative;
    height: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 1001;
}

.nav-icon div {
    width: 2.5rem;
    height: 0.3rem;
    background: #eae6f2;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #1d1c1f;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    padding: 20px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay-content img {
    width: 150px;
    padding-bottom: 50px;
}

.nav-icon.open div:nth-child(1) {
    transform: rotate(45deg);
}

.nav-icon.open div:nth-child(2) {
    opacity: 0;
}

.nav-icon.open div:nth-child(3) {
    transform: rotate(-45deg);
}


.contact-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 60px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #00aaff;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #00aaff;
    border-radius: 4px;
    resize: vertical;
    background-color: #1d1c1f;
    color: #fff;
}

.contact-form textarea {
    height: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cb2128;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00aaff;
}

.loading {
    display: none;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.success-message {
    display: none;
    color: #4CAF50;
    font-weight: bold;
    margin-top: 10px;
}



@media all and (min-width: 1729px) {
    #mobile-navbar {
        display: none;
    }
}

@media all and (max-width: 1729px) {
    #mobile-navbar {
        display: none;
    }
}

/* TABLET LANDSCAPE */
@media all and (min-width: 768px) and (max-width: 1024px) {
    #mobile-navbar {
        display: none;
    }

}

/* TABLET */
@media all and (min-width: 480px) and (max-width: 768px) {
    .search-view {
        width: 50%;
    }
}

/* PHONE */
@media all and (max-width: 480px) {
    #screen-navbar {
        display: none;
    }

    #mobile-navbar {
        display: flex;
    }

    .search-view {
        width: 80%;
    }

    .contact-form {
        margin-top: 50px;
    }

    .contact-form {
        margin-left: 30px;
    }

    .form-group {
        width: 80%;
    }
}