body {
  background-color: #131214;
  color: #eae6f2;
  font-family: "Nunito Sans", sans-serif;
}

main img {
  transition: transform 0.5s ease-in-out;
}

main img:hover {
  transform: scale(1.1);
}

/*-----------------------------------*\
  HEADER
\*-----------------------------------*/

#screen-navbar {
  width: 100vm;
  margin-inline: auto;
  padding: 16px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.logo img {
  width: 100px;
  height: auto;
  transition: transform 0.8s ease-in-out;
}

.logo:hover img {
  transform: rotate(180deg) scale(1.2);
}

.search-view {
  background-color: #1d1c1f;
  height: 56px;
  width: 500px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  cursor: text;
  transition: background-color 0.7s ease;
}

.search-view:hover {
  background-color: #00aaff;
}

header button {
  display: none;
}

.search-bar {
  display: flex;
  align-items: center;
}

.icon {
  padding: 5px 0px 0px 15px;
}

.icon .iconify {
  color: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.input {
  flex: 1;
}

.input input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  outline: none;
  width: 90%;
}

.my-location-button {
  background-color: #61aaec;
  color: #131214;
  padding: 1em;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.my-location-button:hover {
  color: white;
  background-color: #cb2128;
}

.my-location-button .iconify {
  font-size: 40px;
}

/*-----------------------------------*\
  Mobile
\*-----------------------------------*/

#mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
  width: 94vm;
  padding: 10px 20px;
}

.nav-icon {
  position: relative;
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  z-index: 1001;
}

.nav-icon div {
  width: 2.5rem;
  height: 0.3rem;
  background: #eae6f2;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #366d9d;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.nav-icon.open div:nth-child(1) {
  transform: rotate(45deg);
}

.nav-icon.open div:nth-child(2) {
  opacity: 0;
}

.nav-icon.open div:nth-child(3) {
  transform: rotate(-45deg);
}

/*-----------------------------------*\
  LOADING
\*-----------------------------------*/

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 5px solid #00aaff;
  opacity: 0.3;
}

.loading:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #00aaff;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.blocked-location {
  width: 100vm;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.blocked-location h1 {
  font-size: 30px;
  color: #cb2128;
  margin-bottom: 5px;
}

.blocked-location h2 {
  color: #00aaff;
  font-size: 20px;
}

.blocked-location .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocked-location img {
  width: 30%;
  margin-bottom: 20px;
}

/*-----------------------------------*\
  MAIN
\*-----------------------------------*/

main {
  width: 100vm;
}

main .container {
  width: 95%;
  margin-inline: auto;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-left {
  width: 17.5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.current-weather {
  background-color: #1d1c1f;
  color: #eae6f2;
  width: 100%;
  height: 326px;
  border-radius: 20px;

  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.content-right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*-----------------------------------*\
  # CURRENT WEATHER
\*-----------------------------------*/

.current-weather {
  background-color: #1d1c1f;
  transition: background-color 0.5s ease;
}

.current-weather:hover {
  background-color: #00aaff;
  cursor: pointer;
}

.current-weather:hover .card ul li {
  color: #1d1c1f;
}

.current-weather .card {
  padding: 2rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.current-weather .card h2 {
  font-size: 1.5rem;
}

.current-weather .card .weather p {
  font-size: 5rem;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather img {
  width: 40%;
  height: auto;
}

.current-weather .card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #7b7980;
  padding-top: 15px;
}

.current-weather .card ul li {
  display: flex;
  align-items: center;
  color: #7b7980;
}

.current-weather .card ul li .iconify {
  font-size: 25px;
  margin-right: 10px;
  color: #eae6f2;
}

/*-----------------------------------*\
  # DAILY FORECAST
\*-----------------------------------*/

.daily-forecast {
  background-color: #1d1c1f;
  color: #eae6f2;
  width: 100%;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

.daily-forecast:hover {
  background-color: #00aaff;
  cursor: pointer;
}

.daily-forecast:hover .card ul li span {
  color: #131214;
}

.daily-forecast .card {
  padding: 2rem;
}

.h2 {
  font-size: 20px;
  padding-left: 15px;
}

.daily-forecast .card ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.daily-forecast .card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.daily-forecast .card ul li span {
  color: #7b7980;
}

.daily-forecast .card ul img {
  width: 16%;
  height: auto;
}

/*-----------------------------------*\
  # Highlights
\*-----------------------------------*/

.air-condition {
  background-color: #1d1c1f;
  color: #eae6f2;
  width: 100%;
  border-radius: 20px;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.air-condition .container {
  width: 97%;
  display: flex;
}

.air-condition .container h2 {
  font-size: 30px;
}

.air-condition h2 {
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.long {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.long li:hover {
  background-color: #00aaff;
  cursor: pointer;
}

.long li:hover h3 {
  color: #131214;
}

.long li {
  background-color: #13121474;
  width: 50%;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

.sunrise,
.sunset {
  padding: 15px;
  font-size: 25px;
}

.sunrise .card .iconify,
.sunset .card .iconify {
  font-size: 100px;
}

.sunrise p,
.sunset p {
  font-size: 60px;
}

.sunrise h3,
.sunset h3 {
  color: #7b7980;
  font-size: 18px;
}

.sunrise .card,
.sunset .card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9rem;
}

.short {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.short li {
  background-color: #13121474;
  width: 25%;
  height: 150px;
  margin: 10px;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

.short li:hover {
  background-color: #00aaff;
  cursor: pointer;
}

.short li:hover h3 {
  color: #131214;
}

.short li .card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 130px;
}

.short h3 {
  font-size: 17px;
  color: #7b7980;
}

.short .iconify {
  font-size: 50px;
}

.short p {
  font-size: 30px;
}

.box {
  padding: 15px;
}

/*-----------------------------------*\
  # Hourly Forecast
\*-----------------------------------*/

.hourly-forecast {
  width: 100%;
  border-radius: 20px;
}

.hourly-forecast .container {
  width: 100%;
  padding: 0;
}

.hourly-forecast .container ul {
  display: flex;
  gap: 18px;
  margin-bottom: 18px;
  align-items: center;
}

.hourly-forecast ul li {
  background-color: #1d1c1f;
  font-size: 20px;
  width: 14.28%;
  height: 168px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 0.5s ease;
}

.hourly-forecast ul li:hover {
  background-color: #00aaff;
  cursor: pointer;
}

.hourly-forecast img {
  max-width: 50%;
  height: auto;
}

/* DESKTOP */

@media all and (min-width: 1729px) {
  #mobile-navbar {
    display: none;
  }

  main .container {
    justify-content: space-evenly;
  }

  .hourly-forecast .container{
    margin-top: 20px;
  }


}

@media all and (max-width: 1729px) {
  #mobile-navbar {
    display: none;
  }

  main .container {
    width: 95%;
    justify-content: space-evenly;
  }
}

/* TABLET LANDSCAPE */
@media all and (min-width: 768px) and (max-width: 1024px) {
  #mobile-navbar {
    display: none;
  }

  main .container {
    width: 100%;
  }

  .content-left {
    width: 100%;
    flex-direction: row;
  }

  .content-right {
    width: 100%;
    margin-top: 30px;
  }
}

/* TABLET */
@media all and (min-width: 480px) and (max-width: 768px) {
  #screen-navbar {
    display: none;
  }

  main .container {
    width: 95%;
  }

  .content-left {
    width: 100%;
    flex-direction: row;
  }

  .content-right {
    width: 100%;
    margin-top: 30px;
  }
}

/* PHONE */
@media all and (max-width: 480px) {
  #screen-navbar {
    display: none;
  }

  #mobile-navbar {
    display: flex;
  }

  .search-view {
    width: 80%;
  }


  main .container {
    width: 90%;
    margin: 0;
  }

  .content-left {
    width: 100%;
  }

  .content-right {
    width: 100%;
    margin-top: 8%;
  }

  .long {
    flex-wrap: wrap;
  }

  .long li {
    width: 100%;
  }

  .air-condition .container {
    padding: 0;
  }

  .sunrise .card p,
  .sunset .card p {
    font-size: 50px;
  }

  .short {
    flex-wrap: wrap;
  }

  .short li {
    width: 100%;
  }

  .hourly-forecast {
    margin-top: 20px;
  }

  .hourly-forecast .container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }

  .hourly-forecast .container ul li {
    width: 100px;
  }
}
