body {
  background-color: #131214;
  color: #eae6f2;
  font-family: "Nunito Sans", sans-serif;
}


main img {
  transition: transform 0.3s ease-in-out;
}

main img:hover {
  transform: scale(1.1);
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .container {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
  padding: 16px;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
  transition: transform 1s ease-in-out;
}

.logo:hover img {
  transform: rotate(360deg) scale(1.2);
}

header .container {
  display: flex;
  justify-content: space-between;
}

.search-view {
  background-color: #1d1c1f;
  height: 56px;
  width: 500px;
  border-radius: 28px;
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;

  transition: transform 0.5s ease-in-out;
}


.search-bar:hover {
  transform: translateX(10px);
}


.icon {
  padding: 5px 0px 0px 15px;
}

.icon .iconify {
  color: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.input {
  flex: 1;
}

.input input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  outline: none;
  width: 370px;
}

.my-location-button {
  background-color: #61AAEC;
  color: #131214;
  padding: 1em;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.my-location-button:hover {
  color: white;
  background-color: #CB2128;
}

.my-location-button .iconify {
  font-size: 40px;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
  overflow-y: auto;
  height: calc(100vh - 170px);
}

main .container {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content-left section {
  margin-bottom: 1rem;
}

.current-weather {
  background-color: #1d1c1f;
  color: #eae6f2;
  width: 360px;
  height: 326px;
  border-radius: 20px;

  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.air-condition {
  background-color: #1d1c1f;
  color: #eae6f2;
  width: 1120px;
  height: 481px;
  border-radius: 20px;

  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.content-right  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*-----------------------------------*\
  #current weather
\*-----------------------------------*/


.current-weather .card {
  padding: 2rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.current-weather .card h2 {
  font-size: 20px;
}

.current-weather .card p {
  font-size: 16;
}

.current-weather .card .weather p {
  font-size: 80px;
}

.weather {
  display: flex;
  align-items: center;
  gap: 40px;
}

.weather img {
  max-width: 40%;
  height: auto;
}

.current-weather .card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #7b7980;
  padding-top: 15px;
}

.current-weather .card ul li {
  display: flex;
  align-items: center;
  color: #7b7980;
}

.current-weather .card ul li .iconify {
  font-size: 25px;
  margin-right: 10px;
  color: #eae6f2;
}

/*-----------------------------------*\
  # Daily Forecast
\*-----------------------------------*/

.daily-forecast {
  background-color: #1d1c1f;
  color: #eae6f2;
  width: 360px;
  height: 504px;
  border-radius: 20px;

  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.daily-forecast .card {
  padding: 2rem;
  height: 86%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.h2 {
  font-size: 20px;
  padding-left: 15px;
}

.daily-forecast .card ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.daily-forecast .card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.daily-forecast .card ul li span {
  color: #7b7980;
}

.daily-forecast .card ul img {
  max-width: 20%;
  height: auto;
}





/*-----------------------------------*\
  # Hourly Forecast
\*-----------------------------------*/

.hourly-forecast {
  width: 1120px;
  height: 355px;
  border-radius: 20px;
}

.hourly-forecast .container {
  width: 96%;
  padding: 0;
}

.hourly-forecast .container ul {
  display: flex;
  gap:18px;
  margin-bottom: 18px;
  align-items: center;
}

.hourly-forecast ul li {
  background-color: #1d1c1f;
  font-size: 20px;
  width: 145px;
  height: 168px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hourly-forecast img {
  max-width: 50%;
  height: auto;
}

